*
  font-size 14px
  margin 0
  padding 0

body
  margin 1em

li
  margin-left 2em

form
  margin 0.5em 1em

.input
  display inline-block
  margin-left 1em

label
  padding-right 0.5em

input[type=number]
  width 4em
  text-align right

.number
  text-align right

button
  padding 0 1em
