doctype html

meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=Edge,chrome=1')
meta(name='viewport', content='width=device-width, initial-scale=1.0')

link(rel='stylesheet', href='layout.css', media='all')
- scripts = []
- scripts.push('//d3js.org/d3.v3')
- scripts.push('//code.jquery.com/jquery-2.1.1')
- for (i = 0; i < scripts.length; i++) {
-   src = scripts[i] + '.min.js'
//-   src = 'js/' + src.slice(src.lastIndexOf('/') + 1)
script(src=src)
- }
script(src='ga.js')

#container
  block content

aside#debug
